@model OnlineFoodOrderingSystem.Models.ViewModel.OrderViewModel

@{
    ViewBag.Title = "AddressAndPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function PrintDiv() {
        var divContents = document.getElementById("dvContents").innerHTML;
        var printWindow = window.open('', '', 'height=200,width=400');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }
</script>
<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <h3>Delivery Details</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="key">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="key">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="key">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control",@placeholder="Address" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="key">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="key">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            @Html.TextBoxFor(model => model.Total, new { @readonly = "readonly", @placeholder = "Total" })
                            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                            @*<input type="button" class="btn btn-info" onclick="PrintDiv();" value="Print" />*@
                            @ViewBag.Message
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
   


